html {
    background-color:#FEFEFE;
}

body {
  margin: 0;
}

#welcomeimg {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
}

.topimage {
    width:100%;
    max-width: 700px;
    height:400px;
    overflow:hidden;
}

header {
    width:700px;
    margin-left:auto;
    margin-right:auto;
}

div.social-links {
  font-family:"Helvetica";
  text-decoration:none;
  text-align: center;
  margin-top: 30px;
}

.social-links-item {
  display: inline-block;
  height:44px;
  width:44px;
  margin: 0;
  margin-left: 15px;
  margin-right: 15px;
  opacity: 0.5;
}

.social-links-item:hover {
    opacity: 1.0;
}

.github-icon {
  background: url(../images/social/github.jpg) no-repeat center;
  background-size: cover;
}

.twitter-icon {
  background: url(../images/social/twitter.jpg) no-repeat center;
  background-size: cover;
}

.youtube-icon {
  background: url(../images/social/youtube.jpg) no-repeat center;
  background-size: cover;
}

.welcomemsg {
    font-family:"Helvetica";
    text-align:center;
    margin:0px;
    color:#424242;
}







.content {
    width:600px;
    margin-left:auto;
    margin-right:auto;
    font-family:"Helvetica";
    color:#666666;
    margin-top:20px;
}

p.contentleft {
    width:290px;
    float:left;
    margin:5px;
}

img.contentright {
    display:inline-block;
    width:290px;
    float:right;
    margin:1px;
    box-shadow:2px 2px 8px #888888;
    border-color:#FFFFFF;
    border-width:4px;
    border-style:solid;
}

.project-image {
    display:block;
    width:200px;
    margin:1px;
    box-shadow:2px 2px 8px #888888;
    border-color:#FFFFFF;
    border-width:4px;
    border-style:solid;
}

.project-description {
    display:block;
    width:200px;
    margin:10px;
}

.right {
    float: right;
}

.left {
    float:left;
}

.project-item {
    display:flex;
    align-items: center;
    margin-bottom: 20px;
}

a {
    color:#424242;
}

a:hover {
    color:#5577FF;
}

.center {
    display:block;
    margin-left:auto;
    margin-right:auto;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
}

#main-grid {
  display: grid;
  grid-template-rows: auto;
  
  grid-template-columns: 48% 48%;
  grid-template-areas: 
    "header header"
    "personal professional";
  grid-column-gap: 4%;
}

@media screen and (max-width: 910px) {
  #main-grid {
    grid-template-columns: 100%;
    grid-template-areas: 
      "header"
      "professional"
      "personal";
    grid-column-gap: 0;
  }
}

.header {
  grid-area: header;
  position: relative;
}

.header img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  overflow: hidden;
}

.introduction {
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
  font-family:"Helvetica";
  font-style: bold;
  font-size: 20px;
  color:#ffffff;
  text-align: center;
}

.introduction h1 {
  margin: 0;
  padding: 0;
}

.introduction h2 {
  margin: 0;
  padding: 0;
}

.professional-container {
  grid-area: professional;
}

.personal-container {
  grid-area: personal;
}

.project-category-header {
  font-family:"Helvetica";
  color:#666666;
  text-align: center;
}

.project-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
